*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.header {grid-area: header;}
.banner-burbujas {grid-area: banner-burbujas;}
.main {grid-area: main;}
.footer {grid-area: footer;}

.contenedor {
    display: grid;
    gap: 10px;
    grid-template-areas: 'header header header'
                'banner-burbujas banner-burbujas banner-burbujas'
                            'main main main'
                        'footer footer footer';
}

.header {
    width: 100%;
    background-color: #222;
    border-bottom: solid 3px #a7976d;
    position: fixed;
}

.section-menu {
    width: 60%;
    margin: auto;
}

.section-menu > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-menu > nav > ul > a {
    color: #F9F9F9;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    width: auto;
}

.section-menu > nav > ul > a:hover {
    color: #a7976d;
    transition: all 0.5s;
}

.UvasLogo {
    width: 3rem;
}

.UvasLogo:hover {
    background-color: #a7976d;
    border-top-left-radius:  3rem;
    transition: all 0.5s;
}

.header > div > nav > ul > li > a {
    text-decoration: none;
    
}

.banner-burbujas {
    margin-top: 3rem;
    height: 100%;
    border-bottom: solid 2px #a7976d;
}

.video-burbujas {
    display: flex;
    height: 155%;
    width: 100%;
    background-image: url(../Videos/Burbujas.mov);
    border-bottom: solid 1px #a7976d;
    justify-content: center;
    align-items: center;
}

.texto-burbujas{
    color: #9f8544;
    font-size: 3rem;
    /* text-shadow: 0.5px 2px #666; */
}

.banner-nav-section {
    padding: 8px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #CFD4BE;
    border-end-start-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -0.03rem;
    
}
.banner-nav-section a {
    color: #795300;
    text-decoration: none;
    font-size: large;
}

.banner-nav-section a:hover {
    color: #0A3D00;
    transition: all 0.2s;
}

.Top {
    text-decoration: none;
    color: #0A3D00;
}

.hoja {
    width: 2rem;
}
.hoja:hover {
    background-color: #a7976d;
    border-top-left-radius: 1.5rem;
    transition: all 0.5s;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    margin: 25px;
    margin-top: 10rem;;
}
.section-main {
    color: #666;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 4%;
}
.section-main > h1 {
    padding-bottom: 10px;
    margin-bottom: 10px;

} 

/*Trapiche---------------------------------------------------*/
.box-Trapiche1 {
    border-top: solid 1px #a7976d;
    border-bottom: solid 1px #a7976d;
    grid-column: 1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-Trapiche {
    height: 35vw;
}

.box-Trapiche2 {
    border-top: solid 1px #a7976d;
    border-bottom: solid 1px #a7976d;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #666;
    padding: 2rem;
}

.text-Trapiche {
    background-color: rgba(167, 151, 107, 0.85);
    padding: 1rem;
    color: #fff;
    width: 43%;
    margin-top: -95px;
    margin-right: 55px;
    font-size: large;
}

.img-back-Trapiche {
    width: 47vw;
    height: 27vw;
    border-radius: 10px;
    background-image: url(../Parral.jpg);
    background-size: 145%;
    animation: Trapiche-parral 10s infinite linear alternate;
}
@keyframes Trapiche-parral {
    from {background-position: bottom left;}
    to {background-position: top right;}
}

/*Luigi Bosca---------------------------------------------------*/
.box-LuigiBosca1 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #666;
    border-top: solid 1px #a7976d;
    border-bottom: solid 1px #a7976d;
    margin-top: 2rem;
    padding: 2rem;
}

.img-back-LuigiBosca {
    width: 47vw;
    height: 27vw;
    border-radius: 10px;
    background-image: url(../luigi-bosca-home-1440x900.png);
    background-size: 145%;
    animation: Bosca-viñedo 10s infinite linear alternate;
}      
@keyframes Bosca-viñedo {
    from {background-position: top left;}
    to {background-position: bottom right;}
}

.text-LuigiBosca {
    background-color: rgba(167, 151, 107, 0.85);
    padding: 1rem;
    color: #fff;
    width: 53%;
    margin-top: -10%;
    margin-right: -11%;
    font-size: large;
}

.box-LuigiBosca2 {
    grid-column: 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #a7976d;
    border-bottom: solid 1px #a7976d;
    margin-top: 2rem;
}

.img-LuigiBosca {
    height: 35vw;
}

/*Chandon---------------------------------------------------*/
.box-Chandon1 {
    grid-column: 1;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #a7976d;
    margin-top: 2rem;
}

.img-Chandon {
    height: 35vw;
}

.box-Chandon2 {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #666;
    border-top: solid 1px #a7976d;
    margin-top: 2rem;
    padding: 2rem;
}

.Img-Texto-Chandon {
    width: 47vw;
    border-radius: 10px;
    display: flex;
}
.img-back-Chandon {
    width: 47vw;
    height: 27vw;
    border-radius: 10px;
    background-image: url(../Cava\ Botellas.jpg);
    background-size: 145%;
    animation: Chandon-Bodega 10s infinite linear alternate;
}

@keyframes Chandon-Bodega {
    from {background-position: top;}
    to {background-position: bottom;}
}

.text-Chandon {
    background-color: rgba(167, 151, 107, 0.85);
    padding: 1rem;
    color: #fff;
    width: 68%;
    margin-top: -7%;
    margin-right: 11%;
    font-size: large;
}

.footer {
    display: flex;
    padding: 5rem 0;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-redes {
    display: flex;
    width: 100%;
    background-color: #222;
    border-top: solid 4px #a7976d;
    height: 10rem;
    align-items: center;
    justify-content: center;
}

.logo-instagram, .logo-github, .logo-twitter, .logo-facebook {
    width: 3vw;
    height: 3vw;
    padding: 0 3rem 0 3rem;
}

.div-instagram:hover .logo-instagram {
    transform: scale(1.1);
}

.div-github:hover .logo-github {
    transform: scale(1.1);
}

.div-twitter:hover .logo-twitter {
    transform: scale(1.1);
}

.div-facebook:hover .logo-facebook {
    transform: scale(1.1);
}

.div-redes > div > a {
    display: flex;
    text-decoration: none;
    color: #a7976d;
    font-size: large;
    padding: 0 3rem 0 3rem;
}

.derechos {
    display: flex;
    justify-content: center;
    color: #222;
    margin-top: 1rem;
    margin-bottom: -7rem;
}

/*Media Query---------------------------------------------------*/
